@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    font-family: 'Fredoka One', cursive;
}

body {
    text-align: center;
    z-index: 1;
    background-image: url("../imgs/waves.gif");
    margin: 0;
    background-repeat: repeat-x;
    width: 100%;
    height: 100vh;
    padding-bottom: 0px;
    background-position: bottom center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 850px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 80%;
    border-radius: 70px;
    background: linear-gradient(to bottom, #006400, #008000, #00A000);
    border: #8B4513 solid 10px;
}

#words {
    width: 190px;
}

#fish {
    width: 40px;
    margin-left: 45px;
    animation: fadeIn 0.5s ease-in forwards 0s, wiggle 1s ease-in-out infinite 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#p1 {
    width: 50%;
    height: auto;
    margin: 10px 0 10px 0;
}

#p2 {
    width: 17%;
    height: auto;
    margin: 10px 0 10px 0;
    left: 15%;
    position: absolute;
}

#hand {
    position: relative;
    top: 20%;
    left: -40%;
    width: 50px;
}

#mid-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#deck {
    width: 200px;
}

#hand-of-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card {
    width: 75px;
    height: auto;
    margin: 0 2.5px;
}

.card:hover {
    transform: scale(1.1);
}