@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 0;
    font-family: 'Fredoka One', cursive;
}

body {
    text-align: center;
    z-index: 1;
    background-image: url("/imgs/waves.gif");
    margin: 0;
    background-repeat: repeat-x;
    width: 100%;
    padding-bottom: 0px;
    background-position: bottom center;
}

main {
    z-index: 2;
    background-color:  #008000;
    width: 80%;
    height: 80%;
    max-width: 1000px;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 70px;
}

#words {
    position: absolute;
    top: 35px;
    left: 860px;
    width: 190px;
}

#fish {
    width: 40px;
    position: absolute;
    top: 20vh;
    left: 10vw;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards 0s, wiggle 1s ease-in-out infinite 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes wiggle {
    0%, 100% { transform: translate(-50%, -50%) rotate(0deg); }
    25% { transform: translate(-50%, -50%) rotate(10deg); }
    50% { transform: translate(-50%, -50%) rotate(-10deg); }
    75% { transform: translate(-50%, -50%) rotate(5deg); }
}

#players {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#p1 {
    width: 50%;
    height: auto;
    margin: 10px 0 10px 0;
}

#p2 {
    width: 50%;
    height: auto;
    margin: 10px 0 10px 0;
}

#hand {
    position: relative;
    top: 20%;
    left: -40%;
    width: 30%;
}